.Stop {
    position: absolute;
    /* z-index: 1; */
}

.Stop .marker {
    width:  10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
}

.Stop .marker:hover {
    border: 1px solid black;
}

.Stop .marker:hover + .StopLabel {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    padding: 2px;
    z-index: 10;
}